<section class="user_info">
    <div>
        <div class="user_dp">
            <!--<img src="#" alt="user dp">-->
        </div>
        <h3>Olajide Bamidele nelson</h3>
        <p class="user_name">@Bamidele_utu</p>
        <p class="about">Journalist, Manager, Environmentalist</p>
        <p class="posts_stat">50k <span>Total post</span> 50k <span>Total views</span></p>
        <p class="wallet_digit">Wallet Balance: <span>60,000 NGN</span></p>
    </div>
    <div class="others">
        <a href="#">
            <img src="assets/icons/notification_icon.png" alt="notification icon">
        </a>
        <a href="#">
            <div>Share Profile</div>
        </a>
    </div>
</section>

<nav>
    <div>
        <div>All post</div>
        <div></div>
    </div>
    <div>
        <div>All Threads</div>
        <div></div>
    </div>
    <div>
        <div>All Video</div>
        <div></div>
    </div>
</nav>

<section class="posts">
    <div class="user_display_picture">
        <img src="assets/icons/user.png" alt="User Display Picture">
    </div>
    <div class="details">
        <div class="head">
            <div class="name">
                <h4>User Name <span>• 2d • #gossip</span></h4>
            </div>
            <div class="options">
                <img src="assets/icons/option_bar.png" alt="options">
            </div>
        </div>
        <div class="post">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                molestias, nulla, similique voluptas voluptate.
            </p>
        </div>
        <div class="post_actions">
            <div class="left">
                <div class="like">
                    <img src="assets/icons/dislike_icon.png" alt="like icon">
                    <div>100k</div>
                </div>
                <div class="comment">
                    <img src="assets/icons/comment_box.png" alt="comment icon">
                    <div>100k</div>
                </div>
                <div class="share">
                    <img src="assets/icons/share.png" alt="share icon">
                </div>
                <div class="dislike">
                    <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                </div>
            </div>
            <div class="right">
                <div class="bookmark">
                    <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="posts">
    <div class="user_display_picture">
        <img src="assets/icons/user.png" alt="User Display Picture">
    </div>
    <div class="details">
        <div class="head">
            <div class="name">
                <h4>User Name <span>• 2d • #gossip</span></h4>
            </div>
            <div class="options">
                <img src="assets/icons/option_bar.png" alt="options">
            </div>
        </div>
        <div class="post">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                molestias, nulla, similique voluptas voluptate.
            </p>
        </div>
        <div class="post_actions">
            <div class="left">
                <div class="like">
                    <img src="assets/icons/dislike_icon.png" alt="like icon">
                    <div>100k</div>
                </div>
                <div class="comment">
                    <img src="assets/icons/comment_box.png" alt="comment icon">
                    <div>100k</div>
                </div>
                <div class="share">
                    <img src="assets/icons/share.png" alt="share icon">
                </div>
                <div class="dislike">
                    <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                </div>
            </div>
            <div class="right">
                <div class="bookmark">
                    <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="posts">
    <div class="user_display_picture">
        <img src="assets/icons/user.png" alt="User Display Picture">
    </div>
    <div class="details">
        <div class="head">
            <div class="name">
                <h4>User Name <span>• 2d • #gossip</span></h4>
            </div>
            <div class="options">
                <img src="assets/icons/option_bar.png" alt="options">
            </div>
        </div>
        <div class="post">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                molestias, nulla, similique voluptas voluptate.
            </p>
        </div>
        <div class="post_actions">
            <div class="left">
                <div class="like">
                    <img src="assets/icons/dislike_icon.png" alt="like icon">
                    <div>100k</div>
                </div>
                <div class="comment">
                    <img src="assets/icons/comment_box.png" alt="comment icon">
                    <div>100k</div>
                </div>
                <div class="share">
                    <img src="assets/icons/share.png" alt="share icon">
                </div>
                <div class="dislike">
                    <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                </div>
            </div>
            <div class="right">
                <div class="bookmark">
                    <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                </div>
            </div>
        </div>
    </div>
</section>
