<div class="main">
    <br>
    <section class="tags">
        <ul>
            <li>#trending</li>
            <li>#strike</li>
            <li>#election</li>
            <li>#select</li>
            <li>#bounce</li>
            <li>#ojewake</li>
            <li>#ojewake</li>
        </ul>
    </section>

    <main>
        <app-post *ngFor="let post of posts" [post]="post" (onClickPost)="showPostModal($event)"></app-post>
    </main>
</div>

<div class="overlay" *ngIf="postModal">
    <div class="modal full">
        <button class="close_modal fixed" (click)="postModal = false">×</button>

        <app-post [post]="postModalData"></app-post>

        <div class="comments">
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </div>

        <div class="reply">
            <form>
                <input type="text" placeholder="reply">
            </form>
        </div>
    </div>
</div>
