@import "../sass/variables";

app-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

app-side-bar {
    display: none;

    @include desktop {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin-top: 64.4px;
    }
}

app-ads {
    width: 20%;
    display: none;

    @include desktop {
        display: block;
    }
}

.routes {
    display: flex;

    @include desktop {
        width: 60%;
    }
}

.layout {
    display: flex;

    .main {
        display: flex;
        justify-content: space-evenly;
        margin-top: 64.4px;

        @include desktop {
            margin-left: 316px;
        }
    }
}
