<ul>
    <li id="one">
        <a routerLink="/">
            <img src="assets/icons/user.png" alt="home icon">
            <p>Home</p>
        </a>
    </li>
    <li class="_trending">
        <img src="assets/icons/user.png" alt="trending icon">
        <p>Trending</p>
    </li>
    <li>
        <a href="#">
            <img src="assets/icons/user.png" alt="skitz icon">
            <p>Skitz</p>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="assets/icons/communities.png" alt="communities icon">
            <p>Communities</p>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="assets/icons/chats.png" alt="chats icon">
            <p>Chats</p>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="assets/icons/setting.png" alt="news icon">
            <p>News</p>
        </a>
    </li>
    <li>
        <a href="#">
            <img src="assets/icons/setting.png" alt="settings icon">
            <p>Settings</p>
        </a>
    </li>
</ul>

<ul class="trending">
    <h3>Latest Trends</h3>
    <li id="t_one"><span>#</span> trending</li>
    <li><span>#</span> trending <div>344</div></li>
    <li><span>#</span> trending</li>
    <li><span>#</span> trending</li>
    <li><span>#</span> trending</li>
    <li><span>#</span> trending</li>
    <li><span>#</span> trending <div>344</div></li>
    <li><span>#</span> trending<div>344</div></li>
    <li><span>#</span> trending</li>
    <li><span>#</span> trending</li>
</ul>

