<div class="main">
    <br>
    <section class="tags">
        <ul>
            <li>#trending</li>
            <li>#strike</li>
            <li>#election</li>
            <li>#select</li>
            <li>#bounce</li>
            <li>#ojewake</li>
            <li>#ojewake</li>
        </ul>
    </section>

    <main>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post" (click)="postModal = true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<div class="overlay" *ngIf="postModal">
    <div class="modal full">
        <button class="close_modal fixed" (click)="postModal = false">×</button>

        <section class="posts">
            <div class="user_display_picture">
                <img src="assets/icons/user.png" alt="User Display Picture">
            </div>
            <div class="details">
                <div class="head">
                    <div class="name">
                        <h4>User Name <span>• 2d • #gossip</span></h4>
                    </div>
                    <div class="options">
                        <img src="assets/icons/option_bar.png" alt="options">
                    </div>
                </div>
                <div class="post">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                        assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                        molestias, nulla, similique voluptas voluptate.
                    </p>
                </div>
                <div class="post_actions">
                    <div class="left">
                        <div class="like">
                            <img src="assets/icons/dislike_icon.png" alt="like icon">
                            <div>100k</div>
                        </div>
                        <div class="comment">
                            <img src="assets/icons/comment_box.png" alt="comment icon">
                            <div>100k</div>
                        </div>
                        <div class="share">
                            <img src="assets/icons/share.png" alt="share icon">
                        </div>
                        <div class="dislike">
                            <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                        </div>
                    </div>
                    <div class="right">
                        <div class="bookmark">
                            <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="comments">
            <section class="posts">
                <div class="user_display_picture">
                    <img src="assets/icons/user.png" alt="User Display Picture">
                </div>
                <div class="details">
                    <div class="head">
                        <div class="name">
                            <h4>User Name <span>• 2d • #gossip</span></h4>
                        </div>
                        <div class="options">
                            <img src="assets/icons/option_bar.png" alt="options">
                        </div>
                    </div>
                    <div class="post">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                            assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                            molestias, nulla, similique voluptas voluptate.
                        </p>
                    </div>
                    <div class="post_actions">
                        <div class="left">
                            <div class="like">
                                <img src="assets/icons/dislike_icon.png" alt="like icon">
                                <div>100k</div>
                            </div>
                            <div class="comment">
                                <img src="assets/icons/comment_box.png" alt="comment icon">
                                <div>100k</div>
                            </div>
                            <div class="share">
                                <img src="assets/icons/share.png" alt="share icon">
                            </div>
                            <div class="dislike">
                                <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                            </div>
                        </div>
                        <div class="right">
                            <div class="bookmark">
                                <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="posts">
                <div class="user_display_picture">
                    <img src="assets/icons/user.png" alt="User Display Picture">
                </div>
                <div class="details">
                    <div class="head">
                        <div class="name">
                            <h4>User Name <span>• 2d • #gossip</span></h4>
                        </div>
                        <div class="options">
                            <img src="assets/icons/option_bar.png" alt="options">
                        </div>
                    </div>
                    <div class="post">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                            assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                            molestias, nulla, similique voluptas voluptate.
                        </p>
                    </div>
                    <div class="post_actions">
                        <div class="left">
                            <div class="like">
                                <img src="assets/icons/dislike_icon.png" alt="like icon">
                                <div>100k</div>
                            </div>
                            <div class="comment">
                                <img src="assets/icons/comment_box.png" alt="comment icon">
                                <div>100k</div>
                            </div>
                            <div class="share">
                                <img src="assets/icons/share.png" alt="share icon">
                            </div>
                            <div class="dislike">
                                <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                            </div>
                        </div>
                        <div class="right">
                            <div class="bookmark">
                                <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="posts">
                <div class="user_display_picture">
                    <img src="assets/icons/user.png" alt="User Display Picture">
                </div>
                <div class="details">
                    <div class="head">
                        <div class="name">
                            <h4>User Name <span>• 2d • #gossip</span></h4>
                        </div>
                        <div class="options">
                            <img src="assets/icons/option_bar.png" alt="options">
                        </div>
                    </div>
                    <div class="post">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                            assumenda cum doloribus dolorum eius facere facilis in iste itaque libero
                            molestias, nulla, similique voluptas voluptate.
                        </p>
                    </div>
                    <div class="post_actions">
                        <div class="left">
                            <div class="like">
                                <img src="assets/icons/dislike_icon.png" alt="like icon">
                                <div>100k</div>
                            </div>
                            <div class="comment">
                                <img src="assets/icons/comment_box.png" alt="comment icon">
                                <div>100k</div>
                            </div>
                            <div class="share">
                                <img src="assets/icons/share.png" alt="share icon">
                            </div>
                            <div class="dislike">
                                <img src="assets/icons/dislike_icon.png" alt="dislike icon">
                            </div>
                        </div>
                        <div class="right">
                            <div class="bookmark">
                                <img src="assets/icons/bookmark_black_shape.png" alt="bookmark icon">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="reply">
            <form>
                <input type="text" placeholder="reply">
            </form>
        </div>
    </div>
</div>
