@import "./variables";

ul, li {
    list-style: none;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

section.posts {
    background: var(--post-background);
    border-radius: 10px;
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    color: var(--text-color);
    display: flex;

    & > div {
        margin-right: 10px;
    }

    .user_display_picture {
        width: 100px;

        @include desktop {
            width: 130px;
        }

        img {
            width: 100%;
        }
    }

    .details {
        .head {
            display: flex;
            justify-content: space-between;
            margin: 0 7px 7px 0;

            .name {
                h4 {
                    font-weight: bold;
                    font-size: .9rem;

                    span {
                        font-size: .6rem;
                    }
                }
            }

            .options {
                width: 3px;

                img {
                    width: 100%;
                    margin-top: 5px;
                }
            }
        }

        .post {
            p {
                font-weight: normal;
                font-size: .9rem;
                line-height: 22px;
            }
        }

        .post_actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .left {
                display: flex;

                & > div {
                    margin: 0 8px;
                    text-align: center;

                    &:first-child {
                        margin-left: 0;
                    }

                    div {
                        font-size: .7rem;
                    }
                }
            }
        }
    }
}

.overlay {
    background: rgba(black, .5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .modal {
        background: white;
        border-radius: 17px;
        width: 60%;
        padding: 50px 30px;
        position: relative;
        margin-top: 40px;

        @include desktop {
            margin-top: 60px;
            width: 30%;
        }

        &.post_thread {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            width: initial;
            border-radius: 0;

            @include desktop {
                width: 30%;
                position: relative;
                margin-top: 40px;
                border-radius: 17px;
            }
        }

        h3 {
            color: var(--primary-color);
        }

        .input {
            margin: 30px 0;

            input {
                border: none;
                border-bottom: 1px solid var(--input-border-color);
                width: 100%;
                padding: 3px;
                font-size: .9rem;
            }

            textarea {
                background: var(--post-background);
                border: none;
                width: calc(100% - 30px);
                height: 80px;
                border-radius: 8px;
                padding: 15px;
            }

            select {
                width: 100%;
                padding: 15px 0 15px 10px;
                background: var(--post-background);
                border: none;
            }
        }

        .input_btn {
            text-align: center;

            input[type=submit] {
                width: 85%;
                background: var(--primary-color);
                color: white;
                padding: 8px 0;
                border-radius: 9px;
                border: none;
            }
        }

        .close_modal {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 1.3rem;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        .media {
            display: flex;
            justify-content: space-between;

            & > div {
                &:first-child {
                    display: flex;

                    div {
                        margin: 0 5px;
                    }
                }
            }
        }

        .head {
            position: absolute;
            top: 20px;
            display: flex;
            width: calc(100% - 60px);
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            button {
                border: none;
                font-size: 1.3rem;
                background: transparent;
            }

            input[type = 'submit'] {
                border: none;
                background: var(--primary-color);
                border-radius: 8px;
                padding: 8px 25px;
                color: white;
            }
        }
    }
}
